body{
    background-color: #f735ed;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 { 
    color: rgb(255, 255, 255);
}

p{
    font-size: large;
}

button{
    background-color: rgb(149, 89, 126);
    color: rgb(255, 252, 252);
    padding: 10px;
}
